<!DOCTYPE html>
<html lang="fr">
<head>
  <title><%= h(page_title.html_safe) if page_title %></title>
  <%= meta_tag 'description', @description unless @description.blank? %>
  <%= show_meta_keyword %>
  <meta charset="utf-8" />
  <script type="text/javascript" src="//use.typekit.net/kvg7shx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.css", "/stylesheets/theme/mybootstrap.css", "user-styles.css", :media => 'all' %>
  <%= meta_tag 'robots', 'noindex, follow' if stop_index_robots?(this_blog) %>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="<%= url_for :controller => '/xml', :action => 'rsd' %>" />
  <%- if feed_atom %>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="<%= feed_atom %>" />
  <%- end %>
  <%- if feed_rss %>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= feed_rss %>" />
  <%- end %>
  <%= page_header_includes %>
  <%= use_canonical  if this_blog.use_canonical_url %>
  
  <!-- Open graph -->
  <%= meta_tag 'og:site_name', this_blog.blog_name %>
  <%= meta_tag 'og:title', @article ? @article.title : @page_title %>
  
  <meta name="google-site-verification" content="J-gVnJhn8X1o2LCIS_3Bgqqexo4KB5qf5GvoFQb2qEQ" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="author" href="https://plus.google.com/118260479267451543665" />
  <link rel="icon" type="image/png" href="/images/theme/favicon.png" />
  
  <%= twitter_card(@article, @description) if @article %>
  <%= open_graph(@article, @description) if @article %>
  <%= google_plus(@article, @description) if @article %>  
</head>
<body>
  <% bigpicture = (['redirect', 'view_page'].include?(controller.action_name)) ? "" : "_bigpicture" %>
  <% unless ['redirect', 'view_page'].include?(controller.action_name)  %>
  <div class='img-wrapper'>
    <div class='title-wrapper'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-10 col-lg-offset-1'>
            <%= get_title %>
            <p>
              <small>Frédéric de Villamil</small>
              <img src='/images/theme/frederic-de-villamil-circle.png' alt="Frédéric de Villamil" class='circular' />
              <small>Le Rayon UX </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <div class='row'>
          <nav class='navbar navbar-default <%= "bigpicture" unless ['redirect', 'view_page'].include?(controller.action_name) %>' role='navigation'>
            <div class="navbar-header">
              <%= link_to(this_blog.blog_name.html_safe, this_blog.base_url, :class => 'navbar-brand') %>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class='nav navbar-nav pull-right'>
                <li class='hidden-phone'><%= link_to("English", {:controller => 'tags', :action => 'show', :id => 'english'}) %></li>
                <li class='divider-vertical'></li>
                <li class='hidden-phone'><%= link_to(t(".archives"), {:controller => 'articles', :action => 'archives'}) %></li>
                <li class='divider-vertical'></li>
                <li class='hidden-phone'><%= link_to("A propos", {:controller => 'articles', :action => 'view_page', :name => 'frederic-de-villamil-et-le-rayon-ux'}) %></li>
                <li class='divider-vertical'></li>
                <li class='hidden-phone' style='text-align: right'>
                  <form id="sform" method="get" action="/search" accept-charset="UTF-8" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                      <input type="text" id="q" name="q" value="" placeholder="Chercher + entrée" size="10" class="form-control" />
                    </div>
                  </form>
                </li>
                <li><a href="https://github.com/fdv" rel="me"><img src="/images/theme/icon_github<%= bigpicture %>.png" alt="Github" /></a></li>
                <li><a href="http://linkedin.com/in/fdevillamil" rel="me"><img src="/images/theme/icon_linkedin<%= bigpicture %>.png" alt="Linkedin" /></a></li>
                <li class='divider-vertical'></li>
                <li><a href="https://twitter.com/fdevillamil" rel="me" title="Comme 4190 personnes, suivez-moi sur Twitter"><img src="/images/theme/icon_twitter<%= bigpicture %>.png" alt="Suivez-moi sur Twitter"></a></li>
                <li><a href="http://t37.us4.list-manage.com/subscribe?u=dbdd088684988408725cd5ab2&id=f9ba4f0896" title="Rejoignez gratuitement les 1142 abonnés par email" rel="nofollow"><img src="/images/theme/icon_email<%= bigpicture %>.png"></a></li>
                <li><a href="http://feeds.feedburner.com/FredericDeVillamilcom" rel="nofollow" title="Rejoignez gratuitement les 3484 abonnés par RSS"><img src="/images/theme/icon_rss<%= bigpicture %>.png" alt="Abonnez-vous au flux RSS et suivez les nouveaux articles du site"></a></li>
              </ul>
            </div>
          </nav>

        </div>
      </div>
    </div>
    <div id='page' <%= "style='margin-top: 600px;'" unless ['redirect', 'view_page'].include?(controller.action_name) %>>
     <%= yield %>
   </div>
   <footer class='footer'>
  <small>
    <a href='http://creativecommons.org/licenses/by-nc-sa/3.0/'>CC 3.0 BY-NC-SA</a> – Frédéric de Villamil <em>since 1978</em>
  </small>
</footer>
</div>

</div>
</body>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-80448-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</html>
