<!DOCTYPE html>
<html lang="fr">
<head>
  <title><%= h(page_title.html_safe.split('|').first) if page_title %></title>
  <%= meta_tag 'description', @description unless @description.blank? %>
  <%= show_meta_keyword %>
  <meta charset="utf-8" />
  <script type="text/javascript" async src="//use.typekit.net/kvg7shx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= render :partial => '/layouts/popup' %>
  <script>
      var cb = function() {
        var css1 = document.createElement('link'); css1.rel = 'stylesheet';
        css1.href = '/stylesheets/theme/bootstrap.css';
        var head1 = document.getElementsByTagName('head')[0]; head1.parentNode.insertBefore(css1, head1);

        var css2 = document.createElement('link'); css2.rel = 'stylesheet';
        css2.href = '/stylesheets/theme/mybootstrap.css';
        var head2 = document.getElementsByTagName('head')[0]; head2.parentNode.insertBefore(css2, head2);

        var css3 = document.createElement('link'); css3.rel = 'stylesheet';
        css3.href = 'user-styles.css';
        var head3 = document.getElementsByTagName('head')[0]; head3.parentNode.insertBefore(css3, head3);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);
  </script>

  <%#= stylesheet_link_tag "/stylesheets/theme/bootstrap.css", "/stylesheets/theme/mybootstrap.css", "user-styles.css", :media => 'all' %>
  <%= meta_tag 'robots', 'noindex, follow' if stop_index_robots?(this_blog) %>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="<%= url_for :controller => '/xml', :action => 'rsd' %>" />
  <%- if feed_atom %>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="<%= feed_atom %>" />
  <%- end %>
  <%- if feed_rss %>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= feed_rss %>" />
  <%- end %>
  <%= page_header_includes %>
  <%= use_canonical  if this_blog.use_canonical_url %>
  
  <!-- Open graph -->
  <%= meta_tag 'og:site_name', this_blog.blog_name %>
  <%= meta_tag 'og:title', @article ? @article.title : @page_title %>
  
  <meta name="google-site-verification" content="AqFvfN5K0kRvV89rBTEo2o_mHk2QS7EB5DyEjHETzVI" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/theme/favicon.ico" />
  
  <%= twitter_card(@article, @description) if @article %>
  <%= open_graph(@article, @description) if @article %>
  <%= google_plus(@article, @description) if @article %>  
</head>
<body>
  <div id="fb-root"></div>

  <% bigpicture = (['redirect', 'view_page'].include?(controller.action_name)) ? "" : "_bigpicture" %>
  <% unless ['redirect', 'view_page'].include?(controller.action_name)  %>
  <div class='img-wrapper'>
    <div class='title-wrapper'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-10 col-lg-offset-1' style="margin-top:200px;">
              <%= link_to(this_blog.blog_name.html_safe.split.map(&:capitalize).join(' '), root_url, :class => 'h1') %>
            <p>
              <small> <b> Ahoy Asian / Indian students, we would like to hear from you </b></small>
          <!--     <img src='/images/theme/frederic-de-villamil-circle.png' alt="Frédéric de Villamil" class='circular' /> -->
              <!-- <small>Le Rayon UX </small> -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <nav class='navbar navbar-default' role='navigation' style='padding: 0 20px'>
    <div class="navbar-header navbar-brand">
      <%= link_to(this_blog.blog_name.html_safe, root_url) %><br/>
      <div class="nav-tag"><i>Built by a vibrant student community</i></div>
 
      
    </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class='nav navbar-nav pull-left nav-container'>
            <li class='visible-lg'><%= link_to 'STUDENT ESSENTIALS', '#', :class => 'navbar-li', :data => {:toggle => 'modal', :target => "#notYet"} %></li>
            <li class='visible-lg'><%= link_to 'GRADUATE JOBS & INTERNSHIPS', '#', :class => 'navbar-li', :data => {:toggle => 'modal', :target => "#notYet"} %></li>
            <li class='visible-lg'><%= link_to 'IMMIGRATION & BRITAIN', '#', :class => 'navbar-li', :data => {:toggle => 'modal', :target => "#notYet"} %></li>
          </ul>
          <ul class='nav navbar-nav pull-right'>
            <li class='hidden-phone'><%= link_to(t(".archives"), {:controller => 'articles', :action => 'archives'}) %></li>
            <li class='divider-vertical'></li>
            <li class='hidden-phone' style='text-align: right'>
              <form id="sform" method="get" action="/search" accept-charset="UTF-8" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" id="q" name="q" value="" placeholder="Search" size="10" class="form-control" />
                </div>
              </form>
            </li>
            <li class='divider-vertical'></li>
            <li><a href="https://twitter.com/in_uni" rel="me" title="Inuni on Twitter"><img src="/images/theme/icon_twitter<%= bigpicture %>.png" alt="Twitter"></a></li>
            <li><a href="mailto:info@inuni.co" title="Enquiry" rel="nofollow"><img src="/images/theme/icon_email<%= bigpicture %>.png"></a></li>
          </ul>
        </div>        
  </nav>

<div class="container">
    <div class="row">
    <div id='page' <%= "style='margin-top: 600px;'" unless ['redirect', 'view_page'].include?(controller.action_name) %> >
        <div class="col-lg-10">
            <%= yield %>
        </div>
        <div class="col-lg-2 facePile pull-right">
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Finuni.page&amp;width=200&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 200px; height: 290px;" allowtransparency="true"></iframe>
        </div>
    </div>    
</div>
  
      
   <footer class='footer'>
     <small>
       <%= link_to('inuni.co 2014 All rights reserved', '#') %>
     </small>
   </footer>
  </div>
  
  <script type="text/javascript">
  adroll_adv_id = "KKTQRV7KGRBXDFQUI4GWRA";
  adroll_pix_id = "7DURIKUEZZARLBXU2KKR6W";
  (function () {
  var oldonload = window.onload;
  window.onload = function(){
     __adroll_loaded=true;
     var scr = document.createElement("script");
     var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
     scr.setAttribute('async', 'true');
     scr.type = "text/javascript";
     scr.src = host + "/j/roundtrip.js";
     ((document.getElementsByTagName('head') || [null])[0] ||
      document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
     if(oldonload){oldonload()}};
  }());
  </script>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-54772389-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  
</script>

</body>
</html>
