<% if @i == 0%>
  <article id="article-<%= article.id %>">
    <header>
      <h2 class='page-header'><%= (controller.controller_name == 'redirect') ? article.title : link_to_permalink(article,article.title) %></h2>      
    </header>
    
    <%= render 'articles/protected_article_content', { :article => article } %>

    <footer class='meta row hidden-phone'>
      <div class='span6'>
        <p>
          <small><%= _("Publié le") %>
            <%= display_date(article.published_at) %> à <%= display_time(article.published_at) %>
            <%= tag_links(article, "dans") unless article.tags.empty? %>
          </small>          
          </p>
      </div>
      <div class='span2'>
      <p class='pull-right'><%= display_comments_counter(article)%></p>
      </div>
   </footer>
  </article>
<% @i = 1 %>
<% else %>
<div id="article-<%= article.id %>">
  <h2 class='page-header'><%= link_to_permalink(article,article.title) %></h2>
  <% s = article.body.strip_html.slice(0, 800).split(/\. /) 
      s.pop
      article.body = s.join(". ")
      %>
        <%= article.html(:body) %>
        <footer class='meta row hidden-phone'>
          <div class='span6'>
            <p>
              <small><%= _("Publié le") %>
                <%= display_date(article.published_at) %> à <%= display_time(article.published_at) %>
                <%= tag_links(article, "dans") unless article.tags.empty? %>
              </small>          
              </p>
          </div>
          <div class='span2'>
          <p class='pull-right'><%= display_comments_counter(article)%></p>
          </div>
       </footer>
</div>
<% end %>
