<article id="article-<%= @article.id %>" class="h-entry row">
  <div class='col-lg-10 col-lg-offset-1 page-header' >
    <h4 class='p-name'><b><%= link_to_permalink(@article,@article.title) %></b></h4>
    <p>
      <small></small>
<!--       <img src='/images/theme/icon_github.png' alt="Frédéric de Villamil" class="circular" /> -->
      <small><time>By <%= tagged_author(@article) %> | <%= display_date(@article.published_at) %></time></small>
    </p>
     <div class='row'>
        <div class='col-lg-12 text-right'>
            <a target="_blank" class='icon' rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;" href="https://twitter.com/share?url=<%= replace_heroku_domain(@article.permalink_url, "http://asians.inuni.co") %>&amp;text=<%= URI.escape(@article.title) %>"><img src="/images/theme/icon_share_twitter.png" alt="Partagez sur Twitter"></a>
            <a target="_blank" class='icon' rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;" href="https://www.facebook.com/sharer.php?u=<%= replace_heroku_domain(@article.permalink_url, "http://asians.inuni.co") %>&amp;t=<%= URI.escape(@article.title) %>"><img src="/images/theme/icon_share_facebook.png" alt="Partagez sur Facebook"></a>
            <a target="_blank" class='icon' rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;" href="https://plus.google.com/share?url=<%= replace_heroku_domain(@article.permalink_url, "http://asians.inuni.co") %>&amp;hl=fr"><img src="/images/theme/icon_share_googleplus.png" alt="Partagez sur Google Plus"></a>
            <a target="_blank" class='icon' rel="nofollow" onclick="javascript:window.open(this.href, '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=<%= replace_heroku_domain(@article.permalink_url, "http://asians.inuni.co") %>&amp;title=<%= URI.escape(@article.title) %>"><img src="/images/theme/icon_share_linkedin.png" alt="Partagez sur Linkedin Plus"></a>
        </div>
      </div>
  </div>
  <div class='col-lg-10 col-lg-offset-1'>

    <%= @article.html(:body) %>
    <%= @article.html(:extended) %>
    <footer>
      <div class='text-right'><small><%= tag_links(@article, "") %></small></div>
      
      <hr />
     
      <% related = render_similar_posts @article %>
      <% unless related.nil? || related.empty? %>
      <div id='related' class='row'>
        <div class='col-lg-12'>
          <h3>Also Read: </em></h3>
        </div>
      </div>
      <div class='row'>
        <% r = 1 %>
        <% related.each do |article| %>
        <div class='col-lg-6'>
          <%= link_to_permalink(article, display_thumbnail(article)) %>
          <small><%= link_to article.title, article.permalink_url %></small>
        </div>
        <% r+=1 %>
        <% end %>
      </div>
      <% end %>
    </footer>
  </div>
</article>
