<article id="article-<%= @article.id %>" class="h-entry row">
  <header class='col-lg-2 col-lg-offset-1'>
    <div class='meta'>
      <p class='text-right'>
        <img src='<%= File.join(this_blog.base_url, "images/theme/frederic-de-villamil-circle.jpg") %>' style='margin-top: 10px' /><br />
        <small><%= @article.user.nickname %><br />
          <time>le <%= display_date(@article.published_at) %></time>
        </small>
      </p>
      <hr />
      <p class='text-right'>
        <small>
          <%= tag_links(@article, " ") unless @article.tags.empty? %>
        </small>
      </p>
      <hr />
      <p class='text-right'>
        <a target="_blank" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;" href="https://twitter.com/share?url=<%= URI.encode(@article.permalink_url) %>&amp;text=<%= URI.escape(@article.title) %>&amp;via=fdevillamil"><img src="/images/theme/twitter_icon_bw.png" alt="Partagez sur Twitter"></a>
        <a target="_blank" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;" href="https://www.facebook.com/sharer.php?u=<%= URI.encode(@article.permalink_url) %>&amp;t=<%= URI.escape(@article.title) %>"><img src="/images/theme/facebook_icon_bw.png" alt="Partagez sur Facebook"></a>
        <a target="_blank" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;" href="https://plus.google.com/share?url=<%= URI.encode(@article.permalink_url) %>&amp;hl=fr"><img src="/images/theme/googleplus_icon_bw.png" alt="Partagez sur Google Plus"></a>
        <a target="_blank" rel="nofollow" onclick="javascript:window.open(this.href, '','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=<%= URI.encode(@article.permalink_url) %>&amp;title=<%= URI.escape(@article.title) %>"><img src="/images/theme/linkedin_icon_bw.png" alt="Partagez sur Linkedin Plus"></a>
      </p>
    </div>
  </header>  

  <div class='col-lg-8'>
    <h1 class='page-header p-name'><%= link_to_permalink(@article,@article.title) %></h1>

    <%= @article.html(:body) %>
    <%= @article.html(:extended) %>
    <footer>
      <hr />
      
      <% related = render_similar_posts @article %>
      <div id='related' class='row'>
        <div class='col-lg-12'>
          <h3>À lire après <em><%= @article.title %></em></h3>
        </div>
      </div>
      <div class='row'>
        <% related.each do |article| %>
        <div class='col-lg-3'>
          <%= link_to_permalink(article, display_thumbnail(article)) %>
          <small><%= link_to article.title, article.permalink_url %></small>
        </div>
        <% end %>
      </div>
    </footer>
  </div>
</article>
