<div class='span8 offset2'>
  <h1><%= _('Search results for:')%> <%= h(params[:q]) %></h1>

  <% @articles.each do |article| %>
  <article id="article-<%= article.id %>">
    <header>
      <h2 class='page-header'><%= link_to_permalink(article,article.title) %></h2>
    </header>
  
    <% s = article.body.strip_html.slice(0, 800).split(/\. /) 
        s.pop
        article.body = s.join(". ")
        %>
    <%= article.html(:body) %>
    <footer class='meta'>
      <p>
        <small><%= _("Publié le") %>
          <%= display_date(article.published_at) %> à <%= display_time(article.published_at) %>
          <%= tag_links(article, "dans") unless article.tags.empty? %>
        </small>          
        </p>
      </footer>
  </article>
  <% end %>

  <div id='paginate'>
    <%= paginate @articles, { :previous_label => 'Précédent', :next_label => 'Suivant'  } %>
  </div>
  
</div>