<div id="article-<%= article.id %>">
  <h2><%= link_to_permalink(article,article.title) %></h2>
  <% s = truncate(article.html(:body).strip_html, length: 400, separator: ' ') 
      article.body = s
      %>
        <%= article.html(:body) %>
   <footer class='meta row'>
     <div class='col-lg-12'>
       <p>
         <small><%= _("Publié le") %>
           <%= display_date(article.published_at) %> à <%= display_time(article.published_at) %>
           <%= tag_links(article, "dans") unless article.tags.empty? %>
         </small>          
         </p>
     </div>
  </footer>
</div>
