<div class="hfeed span8 offset2">
  <div class='h-entry hentry h-as-note well well-small'>
    <% if @reply %>
      <%= render :partial => "status_reply_context", :object => @reply %>
    <% end %>
    
    <article class='status'>
       <a href="http://t37.net" class="p-author h-card author-icon">
         <%= author_picture @note %>
       </a>
      <div class='p-name entry-title e-content entry-content article'><%= @note.html(:body) %></div>
      <footer>
        <small>
          <%= link_to_permalink(@note, display_date_and_time(@note.published_at)) %> | 
          <%= link_to File.join(this_blog.base_url, @note.redirects.first.from_path), File.join(this_blog.base_url, @note.redirects.first.from_path) %> | 
          <%= author_link @note %>
          <%= view_on_twitter @note %>
        </small>
      </footer>
    </article>
  </div>
</div>