<div class="hfeed span8 offset2">
  <div class='h-entry hentry h-as-note well well-small'>
    <% if @reply %>
      <%= render :partial => "status_reply_context", :object => @reply %>
    <% end %>
    
    <article class='status'>
       <a href="http://t37.net" class="p-author h-card author-icon">
         <%= author_picture @status %>
       </a>
      <div class='p-name entry-title e-content entry-content article'><%= @status.html(:body) %></div>
      <footer>
        <small>
          <%= link_to_permalink(@status, display_date_and_time(@status.published_at)) %> | 
          <%= link_to File.join(this_blog.base_url, @status.redirects.first.from_path), File.join(this_blog.base_url, @status.redirects.first.from_path) %> | 
          <%= author_link @status %>
          <%= view_on_twitter @status %>
        </small>
      </footer>
    </article>
  </div>
</div>